
        *{
            margin: 0px;
            padding: 0px;
        }
        header,nav,main,footer{
            width: 960px; 
            margin-left:auto;
            margin-right: auto;
            padding: 30px;
        }
        header,footer{
            color:black
        }
        h1, li{
            color: white;
            font-family: sans-serif;
            margin: 0 auto;
            text-align: center;
        }

        h1,h2,h3,h4,h6, th, tr{
            color: white;
            font-family: sans-serif;
        }

        


        p, li{
            font-family: sans-serif;
            font-size: 15px;
            text-align: justify;
            color: white;
        }
        header{
            /*width: 100px;*/
            height: 20px;
            background-color:#201E43; /*AZUL*/
        }
        nav{
            text-align: center;
            height:50px;
            background-color:#134B70; /*AZUL MARINO*/

            
        }

        #img{
            float: right;
            margin-top: 0;
            margin-left: 15px;


        }


        #navegador{ 
            height: 30px;
            width: 900px;
            margin: 0 auto;
        }
        
        button{
            padding: 10px;
            border: 0;
            background-color: white;
            border-radius: 5px;
            margin-left: 30px;
            font-size: 15px;
            
        }

         button:hover{
            padding: 10px;
            border: 0;
            background-color:#201E43;
            border-radius: 5px;
            margin-left: 30px;
            font-size: 15px;
            color: white;
            
        }

        #menu_interno{

            margin: 0 auto;
        }



        main{
            
            height: auto;
            background-color:#EEEEEE; /*GRIS*/
        } 

        a{
            text-decoration: none;
            color: darkblue;
        }

        a:hover{
            text-decoration: none;
            color: skyblue;
        }

        section{
            width: 650px;
            background-color: #508C9B;
            color: black;
            margin-bottom: 20px;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            padding: 30px;
            padding-bottom: 50px;
        }
        

        .SecAud{
            
           background-color: #508C9B;
            color:cornflowerblue;
            width: 400px;
            display: inline-block;
            margin: 5px;
            padding: 15px;
            height: 450px;
            overflow: auto;
            border-radius: 15px;
        }


        .imgper1{
            width: 300px;
            margin-left: 15px;
            margin-bottom:7px;
            margin-top: 0;
            float: right;
            display: flex;
        }

        .imgper2{
            width: 170px;
            margin-left: 15px;
            margin-bottom:7px;
            margin-top: 0;
            float: right;
            
        }

         .imgper3{
            width: 130px;
            
            
        }

        .enlaces{
            
            background-color: #508C9B;
            width: 900px;
            padding: 20px;
            font-family: sans-serif;
            color: white;
            font-size: 14px;
            margin-top: 15px;
        }
        .divGen{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .divest{
            
            width: 200px;
            margin: 10px;
            text-align: center;
            font-size: 12px;
    

        }

        nav ul li{ 

            width: 80px; 
            background-color:#F7F1E1; 
            color: black; 
            margin-bottom: 20px; 
            padding: 10px; 
            text-align: center; 
            border-width: 2px; 
            border-color:#FFDBD7; 
            border-style: solid; 
            display: inline-block; 
        } 
        nav ul li a { 
            color:#0d147c; 
            text-decoration: none; 
            margin-bottom: 20px;
        } 
        nav ul li:hover { 
            background-color:black; 
            color: #855E6E; 
            width: 90px; 
        } 


        .secc3{
            margin-bottom: 30px;


        }
        #astro{
            width: 300px;
        }

        .ilust{
            width: 500px;
            margin: 15px;
        }

        #ciudad{
            width: 200px;
            display: flex;
            float: left;
            margin: 15px;
        }

        #imgenback{
            background-image: url("https://img.freepik.com/free-photo/landscape-morning-fog-mountains-with-hot-air-balloons-sunrise_335224-794.jpg?t=st=1729781108~exp=1729784708~hmac=27788bc00abdcb16d56095128e45d1f6033706cee6049cf2768daa828a76dc48&w=996");

        }

       /* a{
            text-decoration: none;
            color: aqua;
        } */
        
        #divmg{
            margin: 0 auto;
            text-align: center;
        }

        

        footer{
            height: 60px;
            background-color:antiquewhite;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            color: black;
            padding: 30px;
            text-align: center;
            font-family: sans-serif;
            
        }



        form{

            width: 300px;
            height:auto;
            color: white;
            margin: 0 auto;
        }


        label{
            padding-bottom: 5px;
            padding-top: 5 px;
            
        }
        label, input , #email{
            display: block;
            width: 100%;
            display: inline-block;
            
        }
        input, textarea, checkbox{

            width: 300px;
            color: #281E9E;
            padding: 8px;
            border: 3px solid, #134B70;
            border-radius: 5px;
            
        }
    
        
        
        input[type=submit]{
            width: 50%;
            background-color: #134B70;
            color: white;
            padding: 10px;
            margin:20px auto;
            border-radius: 15px;
        }

        input[type=file]{
            width: 100%;
            background-color: #ffffff;
            color: white;
            padding: 5px;
            margin:20px auto;
            border-radius: 5px;

        }

        #vidEnl{
            text-decoration: none;
            color: darkblue;
        }

       

        #filtros{
            margin: 0 auto;
            margin-left: 120px;
            text-align: center;
            padding: 30px;
            display: inline-block;
            
        }
        
        #img1{
    filter: brightness(200%);
}
#img2{
    filter: contrast(50%);
}
#img3{
    filter: grayscale(100%);
}
#img4{
    filter: invert(100%);
}
#img5{
    filter: opacity(30%);
}
#img6{
    filter: sepia(100%);
}
#img7{
    filter: saturate(150%);
}
#img8{
    filter: blur(10%);
}
#img9{
filter: drop-shadow(10% 10% 20% white);
}
#img10{
    filter: contrast(150%);
    filter: blur(2px);
}
#img11{
    filter: hue-rotate(30deg);
}